* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #c3ecf7, #f5f7fa);
    min-height: 100vh;
}

.dashboard {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}


.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 32px;
    color: #2c3e50;
}

.header p {
    color: #555;
}


.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.stat-card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card h2 {
    font-size: 30px;
}

.stat-card span {
    display: block;
    font-size: 26px;
    font-weight: bold;
    color: #3498db;
}


.card {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.card h2 {
    margin-bottom: 15px;
    color: #2c3e50;
}


.letter {
    background: #f7faff;
    border-left: 5px solid #6c63ff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.letter h4 {
    margin-bottom: 8px;
    color: #555;
}

.letter p {
    color: #333;
    line-height: 1.6;
}


.actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background: #6c63ff;
    color: white;
    padding: 14px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #584ee3;
}

.btn.secondary {
    background: #00b894;
}

.btn.secondary:hover {
    background: #00997a;
}





.subtitle {
    color: #666;
    margin-bottom: 20px;
}

.quiz-card {
    max-width: 750px;
    margin: auto;
}

.quiz-question {
    margin-bottom: 25px;
}

.quiz-question p {
    font-weight: 600;
    margin-bottom: 10px;
}

.quiz-question label {
    display: block;
    padding: 6px 0;
    cursor: pointer;
}


.result-box {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: #f0f9ff;
    text-align: center;
    font-weight: 600;
}
